<div class="bg-white p-4">
  <form class="w-full ml-50 mt-20">
    <h1 class="mb-4 font-extrabold text-xl">Créer un utilisateur</h1>
    <div class="mb-5 flex flex-wrap gap-4">
      <!-- Champ 1 -->
      <div>
        <label for="nom" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Entrer le nom</label>
        <input type="text" id="nom" class="w-[420px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Nom" required>
      </div>

      <!-- Champ 2 -->
      <div>
        <label for="prennom" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Entrer le prenom</label>
        <input type="text" id="prennom" class="w-[420px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Prenom" required>
      </div>
    </div>
    <div class="mb-5 flex flex-wrap gap-4">
      <!-- champs 3 -->
      <div>
        <label for="telephone" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Entrer le telephone</label>
        <input type="text" id="telephone" class="w-[420px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Telephone" required>
      </div>
      <!-- champs 4 -->
        <div>
        <label for="email" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Entrer l'adresse email</label>
        <input type="text" id="email" class="w-[420px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email" required>
      </div>
    </div>
    <div class="mb-5 flex flex-wrap gap-4">
      <!-- champs 5 -->
        <div>
        <label for="password" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Entrer le mot de passe de l'utilisateur</label>
        <input type="text" id="password" class="w-[420px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="mot de passe utilisateur" required>
      </div>
      <!-- champs 6 -->
       <div>
        <label for="role" class="mb-2 block text-sm font-medium text-gray-900 dark:text-white">Choisir le role</label>
        <select id="role" class="w-[420px] bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-700 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected>Choisir un role</option>
          <option value="admin">Admin</option>
          <option value="user">Gestionnaire des proprieté</option>
          <option value="user">Gestionnaire des statistique</option>
          <option value="user">Gestionnaire des paiement</option>
          <option value="user">Moderateur de contenu</option>
          <option value="user">Gestionnaire des statistique</option>
        </select>
       </div>
    </div>
    <div>
      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enregistrer</button>
    </div>
  </form>
  <router-outlet/>
</div>
