<div class="container">
  <div class="first" *ngIf="!showDetails">
    <div>
      <h3>Factures</h3>
      <div class="filtre">
        <div class="inputs">
          <div class="labels">
            <label for="type">Type</label><br />
            <select
              id="type"
              class="select1"
              [(ngModel)]="selectedType"
              (change)="filterFacturesByType()"
            >
              <option value="Vue d'ensemble">Vue d'ensemble</option>
              <option *ngFor="let type of TypesFiltres" [value]="type">
                {{ type }}
              </option>
            </select>
          </div>
          <div class="labels">
            <label for="pays">Région</label><br />
            <select
              id="pays"
              class="select1"
              [(ngModel)]="selectedPays"
              (change)="filterFacturesByCountry()"
            >
              <option *ngFor="let pays of paysFiltres" [value]="pays">
                {{ pays }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <br /><br />

    <mat-tab-group class="fixed-width" id="menu-comptes" (selectedTabChange)="onTabChanged($event)">
      <!-- Onglet "Payé" -->
      <mat-tab label="Payé ({{ getTotalPaid() }})">
        <div class="table-responsive">
          <table class="table" id="table-payé">
            <thead>
              <tr>
                <th class="head1">Nom</th>
                <th class="head1">Pays</th>
                <th class="head1">Statut</th>
                <th class="head1">Date limite</th>
                <th class="head1">Commission</th>
                <th class="head1">Commission Payée</th>
                <th class="head1">Reste à Payer</th>
                <th class="head1">Plus d'infos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let facture of getPaginatedFactures(paidFactures)">
                <td class="td1 facture_nom">{{ facture.nom }}</td>
                <td class="td1">{{ facture.pays }}</td>
                <td class="td1">{{ facture.type }}</td>
                <td class="td1">{{ facture.dateLimite }}</td>
                <td class="td1">{{ facture.commission }} Fcfa</td>
                <td class="td1">{{ facture.commissionPayee }} Fcfa</td>
    
                <td
                  class="td1"
                  [ngStyle]="{
                    color: facture.resteAPayer !== 0 ? 'red' : 'black'
                  }"
                >
                  <b>{{ facture.resteAPayer }} Fcfa</b>
                </td>
                <td class="td1">
                  <a class="open-div2" (click)="afficherDetails(facture)"
                    >voir plus</a
                  >
                </td>
              </tr>
              <tr>
                <td class="td1" colspan="10">
                  <div>
                    <button
                      class="btn-pag"
                      (click)="goToPage(currentPage - 1)"
                      [disabled]="currentPage === 1"
                    >
                      &lt; Précédent
                    </button>
                    |
                    <span>Page {{ currentPage }} sur {{ totalPages }}</span>
                    |
                    <button
                      class="btn-pag"
                      (click)="goToPage(currentPage + 1)"
                      [disabled]="currentPage === totalPages"
                    >
                      Suivant &gt;
                    </button>
                    <select
                      id="itemsPerPage"
                      (change)="onItemsPerPageChange($event)"
                    >
                      <option
                        *ngFor="let option of itemsPerPageOptions"
                        [value]="option"
                      >
                        Afficher {{ option }} réservations
                      </option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="totalPaye">
          <p class="totalPayeText">
            Commision payée : {{ getTotalCommissionPaid() | number }} F cfa
          </p>
        </div>
      </mat-tab>
    
      <!-- Onglet "Impayé" -->
      <mat-tab label="Impayé ({{ getTotalUnpaid() }})">
        <div class="table-responsive">
          <table class="table" id="table-impayé">
            <thead>
              <tr>
                <th class="head1">Nom</th>
                <th class="head1">Pays</th>
                <th class="head1">Statut</th>
                <th class="head1">Date limite</th>
                <th class="head1">Commission</th>
                <th class="head1">Commission Payée</th>
                <th class="head1">Reste à Payer</th>
                <th class="head1">Plus d'infos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let facture of getPaginatedFactures(unpaidFactures)">
                <td class="td1 facture_nom">{{ facture.nom }}</td>
                <td class="td1">{{ facture.pays }}</td>
                <td class="td1">{{ facture.statut }}</td>
                <td class="td1">{{ facture.dateLimite }}</td>
                <td class="td1">{{ facture.commission }} Fcfa</td>
                <td class="td1">{{ facture.commissionPayee }} Fcfa</td>
                <td
                  class="td1"
                  [ngStyle]="{
                    color: facture.resteAPayer !== 0 ? 'red' : 'black'
                  }"
                >
                  <b>{{ facture.resteAPayer }} Fcfa</b>
                </td>
                <td class="td1">
                  <a class="open-div2" (click)="afficherDetails(facture)"
                    >voir plus</a
                  >
                </td>
              </tr>
              <tr>
                <td class="td1" colspan="10" class="td-pag">
                  <div>
                    <button
                      class="btn-pag"
                      (click)="goToPage(currentPage - 1)"
                      [disabled]="currentPage === 1"
                    >
                      &lt; Précédent
                    </button>
                    |
                    <span>Page {{ currentPage }} sur {{ totalPages }}</span>
                    |
                    <button
                      class="btn-pag"
                      (click)="goToPage(currentPage + 1)"
                      [disabled]="currentPage === totalPages"
                    >
                      Suivant &gt;
                    </button>
                    <select
                      id="itemsPerPage"
                      (change)="onItemsPerPageChange($event)"
                    >
                      <option
                        *ngFor="let option of itemsPerPageOptions"
                        [value]="option"
                      >
                        Afficher {{ option }} réservations
                      </option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="totalPayeText">
          Commision impayée :
          <span class="rouge"
            >{{ getTotalCommissionUnPaid() | number }} F cfa</span
          >
        </div>
      </mat-tab>
    
      <!-- Onglet "Indisponible" -->
      <mat-tab label="Indisponible ({{ getTotalUnavailable() }})">
        <div class="table-responsive">
          <table class="table" id="table-indisponible">
            <thead>
              <tr>
                <th class="head1">Nom</th>
                <th class="head1">Pays</th>
                <th class="head1">Statut</th>
                <th class="head1">Date limite</th>
                <th class="head1">Commission</th>
                <th class="head1">Commission Payée</th>
                <th class="head1">Reste à Payer</th>
                <th class="head1">Plus d'infos</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let facture of getPaginatedFactures(unavailableFactures)
                "
              >
                <td class="td1 facture_nom">{{ facture.nom }}</td>
                <td class="td1">{{ facture.pays }}</td>
                <td class="td1">{{ facture.statut }}</td>
                <td class="td1">{{ facture.dateLimite }}</td>
                <td class="td1">{{ facture.commission }} Fcfa</td>
                <td class="td1">{{ facture.commissionPayee }} Fcfa</td>
                <td
                  class="td1"
                  [ngStyle]="{
                    color: facture.resteAPayer !== 0 ? 'red' : 'black'
                  }"
                >
                  <b>{{ facture.resteAPayer }} Fcfa</b>
                </td>
                <td class="td1">
                  <a class="open-div2" (click)="afficherDetails(facture)"
                    >voir plus</a
                  >
                </td>
              </tr>
              <tr>
                <td class="td1" colspan="10" class="td-pag">
                  <div>
                    <button
                      class="btn-pag"
                      (click)="goToPage(currentPage - 1)"
                      [disabled]="currentPage === 1"
                    >
                      &lt; Précédent
                    </button>
                    |
                    <span>Page {{ currentPage }} sur {{ totalPages }}</span>
                    |
                    <button
                      class="btn-pag"
                      (click)="goToPage(currentPage + 1)"
                      [disabled]="currentPage === totalPages"
                    >
                      Suivant &gt;
                    </button>
                    <select
                      id="itemsPerPage"
                      (change)="onItemsPerPageChange($event)"
                    >
                      <option
                        *ngFor="let option of itemsPerPageOptions"
                        [value]="option"
                      >
                        Afficher {{ option }} réservations
                      </option>
                    </select>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="totalPaye">
          <p class="totalPayeText">
            Commision indisponible:
            <span class="rouge"
              >{{ getTotalCommissionUnavailable() | number }} F cfa</span
            >
          </p>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

  
  <div class="details" *ngIf="showDetails">
    <h2>{{ selectedFactureName }}</h2>
    <button class="revenir" (click)="revenir()">
      <mat-icon>arrow_back</mat-icon>  
      <span>Retour</span>
    </button>
    <div class="container_facture">
      <h2>Aperçu des factures</h2>
      <hr>

      <div class="factures_payes">
        <div class="entete1">
          <h3>Factures payées ({{ getTotalPaid() }})</h3>
          <span class="date">le 14 avr. 2024</span>
        </div>        
      
        <table class="table_striped">
          <tbody>
            <tr *ngFor="let facture of paidFactures">
              <td>{{ facture.dateLimite }}</td>
              <td>{{ 1735485657 }}</td>
              <td>{{ facture.commissionPayee }}</td>
            </tr>
          </tbody>
        </table>
      
        <div class="payement">
          <p>
            <b>Paiement par :</b>
          </p>
          <p>
            <b>Montant payé: </b>
            {{ getTotalCommissionPaid() | number }} Fcfa
          </p>
        </div>
      </div>
      
      <hr>
      <div class="factures_impayes">
        <div>
          <h3>Factures impayées ({{ getTotalUnpaid() }})</h3>
        </div>
        <table class="table_striped">
          <tbody>
            <tr *ngFor="let facture of unpaidFactures">
              <td data-label="Date Limite" class="date_limite">{{ facture.dateLimite }}</td>
              <td data-label="ID Facture">{{ 1735485657 }}</td>
              <td data-label="Reste à Payer">{{ facture.resteAPayer }}</td>
            </tr>
          </tbody>
        </table>
        <div class="aPayer">
          <p>
            <b>Montant à payer: </b>
            <span class="montant_rouge">{{ getTotalCommissionUnPaid() | number }} Fcfa</span>
          </p>
        </div>
      </div>
      
    </div>
  </div>
</div>
